.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.column {
    width: 30%;
    padding: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f6f6f6;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-section label, .form-section input, .form-section select, .form-section button {
    margin-bottom: 10px;
}

.output-section {

    padding: 10px;
    overflow-y: auto;
    height: 90vh; /* Adjust as needed */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


@media (max-width: 1000px) {

    .column {
        min-width: 100%;
        margin-bottom: 20px;
    }

    .output-section{
        height: max-content;
    }
}

.main{
    width: 100%;
    background-color: rgb(243, 243, 243);


}
.title{
    display: flex;

}
.titleleft{

    width: 50%;
    text-align: center;
}
.titleright{
    width: 50%;
    text-align: center;
}

.border{
    border-bottom: 1px solid rgb(147, 147, 147);
}

.content{

    display: flex;
    height: max-content;
}


.left, .right{
    width: 50%;
    text-align: center;


}


.history-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.history-column {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd; /* Border to separate columns visually */
    box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Shadow for visual separation */
    overflow-y: auto; /* Scroll if content overflows */
}
.history-column h2 {
    margin-top: 0;
}
.history-section, .entries-section {
    margin-bottom: 20px;
}


